extend layout.pug 

block number1
		.create-blog.content
				h2 Fill the form to edit a blog
				form(action="/bloglist/" + blog.id + "/edit" method="POST")
					if success
						p.success Note was edited  successfully
					if error
						p.error Please add all the information before submitting
					label(for='title') Blog title:
					input#title(type='text' name='title' value = blog.title)
					label(for='snippet') Blog snippet:
					input#snippet(type='text' name='snippet' value = blog.snippet)
					label(for='body') Blog body:
					textarea#body(name='mainbody')= blog.mainbody
					button Submit the blog
