doctype html 
html(lang="en")
   head 
      title Programmer's blog 
      link(rel="stylesheet", href="/static/styles/style.css")
   body 
      include partials/nav.pug


      block number1


      include partials/footer.pug