extend layout.pug 

block number1
        p.success Note was added successfully
        a(href='/bloglist').successpage Click here to return to the list of blogs 
        br
        a(href='/create').successpage Click here to create another blog